/* your styles go here */


body {
  font-family: 'Ubuntu', sans-serif;
  width:auto;
}
.service{
	color: #fff;
	line-height: 25px;
	font-size: 14px;
}
p{
  color:#525252;
  font-size:14px;
}


/*progress bar */
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:auto;
	font-family: 'Shadows Into Light Two';
	font-size:16px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-top-left:3px;
	-moz-border-radius-bottom-left:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 10px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-top-left:3px;
	-moz-border-radius-bottom-left:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}
/* changes the background*/ 
#navbar{
	background-color: #5c3181;
	color: #fff;
	border: none;
	font-size: 14px;
}
.navbar ul.nav > li > a {
	color: #fff;
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 14px;
}

.logo{
	position: relative;
	top: 100px;
}
.titulo{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 24px;
}
.titulo1{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 20px;
}
.titulo2{
	font-family: 'Shadows Into Light Two', cursive;
	font-size: 30px;
}
.item{
	background-image: url(../img/y0_vfxohayg-wesson-wang-compressor.jpg);
	height: auto;
	background-size: cover;
	background-position: center;
}
/*.carousel-caption{
	background-color: #0000;
	height: auto;
}*/
.navbar-brand{
	font-family: 'Shadows Into Light Two', cursive;
	color: #000000;
	font-size: 38px;
} 

#myModalLabel{
	font-family: 'Shadows Into Light Two', cursive;
	font-weight: bold;
}
.heading, .btn, .lead, .title, .form-group {
	font-family: 'Shadows Into Light Two', cursive;
}

.lead{
	color: #fff;
	font-weight: bold;
}
.image{
	position: center;
	width: auto;
	height: 200px;
	top: -30px;
}
.text-left{
	line-height: 25px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
	color: #FFC7FE;
}
